name: Check
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  check-project:
    name: Check Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.1

      - name: Check Formatting
        run: npx prettier --write .

      - name: Check Diff
        run: git diff --exit-code HEAD
